In [1]:
import pandas as pd
import numpy as np

my_data = pd.read_csv(r"C:\Users\jason\Documents\GitHub\Post_Masters_Training\Integrating_Tableau_Python_SQL\Data\df_preprocessed.csv")
print(my_data.head())

   Reason_1  Reason_2  Reason_3  Reason_4  Month Value  Day of the Week  \
0         0         0         0         1            7                1
1         0         0         0         0            7                1
2         0         0         0         1            7                2
3         1         0         0         0            7                3
4         0         0         0         1            7                3

   Transportation Expense  Distance to Work  Age  Daily Work Load Average  \
0                     289                36   33                  239.554
1                     118                13   50                  239.554
2                     179                51   38                  239.554
3                     279                 5   39                  239.554
4                     289                36   33                  239.554

   Body Mass Index  Education  Children  Pets  Absenteeism Time in Hours
0               30          0         2     1                          4
1               31          0         1     0                          0
2               31          0         0     0                          2
3               24          0         2     0                          4
4               30          0         2     1                          2

In [2]:
print(my_data["Education"].value_counts())

0    583
1    117
Name: Education, dtype: int64

In [3]:
my_data["Absenteeism Time in Hours"].median()

3.0

In [4]:
list_more_than_3 = []
for index, values in enumerate(my_data["Absenteeism Time in Hours"]):
    if values > 3:
        list_more_than_3.append(1)
    elif values <= 3:
        list_more_than_3.append(0)

my_data["Excessive_absenteeism"] = list_more_than_3

print(my_data.head())

   Reason_1  Reason_2  Reason_3  Reason_4  Month Value  Day of the Week  \
0         0         0         0         1            7                1
1         0         0         0         0            7                1
2         0         0         0         1            7                2
3         1         0         0         0            7                3
4         0         0         0         1            7                3

   Transportation Expense  Distance to Work  Age  Daily Work Load Average  \
0                     289                36   33                  239.554
1                     118                13   50                  239.554
2                     179                51   38                  239.554
3                     279                 5   39                  239.554
4                     289                36   33                  239.554

   Body Mass Index  Education  Children  Pets  Absenteeism Time in Hours  \
0               30          0         2     1                          4
1               31          0         1     0                          0
2               31          0         0     0                          2
3               24          0         2     0                          4
4               30          0         2     1                          2

   Excessive_absenteeism
0                      1
1                      0
2                      0
3                      1
4                      0

In [5]:
# checkpoint
cp_my_data_after_adding_excessive_absenteeism = my_data

In [6]:
# another way to do this with numpy

targets = np.where(my_data["Absenteeism Time in Hours"] > my_data["Absenteeism Time in Hours"].median(), 1, 0)

check_list = [targets == my_data["Excessive_absenteeism"]]

# There should be no difference found. I typically try and build code before getting to suggestions on the course I am working on. 

for val in check_list:
    if val.any() == False:
        print("Difference found")

In [7]:
# testing to see if my distribution is evenly distributed

print(targets.sum() / targets.shape[0])

0.45571428571428574

In [8]:
# This means that about 45% are ones

In [9]:
data_with_targets = my_data.drop(["Absenteeism Time in Hours"], axis=1)

In [10]:
data_with_targets is my_data

False

In [11]:
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Excessive_absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,0

In [12]:
x_features = data_with_targets.iloc[:, :-1]
print(x_features.head())

   Reason_1  Reason_2  Reason_3  Reason_4  Month Value  Day of the Week  \
0         0         0         0         1            7                1
1         0         0         0         0            7                1
2         0         0         0         1            7                2
3         1         0         0         0            7                3
4         0         0         0         1            7                3

   Transportation Expense  Distance to Work  Age  Daily Work Load Average  \
0                     289                36   33                  239.554
1                     118                13   50                  239.554
2                     179                51   38                  239.554
3                     279                 5   39                  239.554
4                     289                36   33                  239.554

   Body Mass Index  Education  Children  Pets
0               30          0         2     1
1               31          0         1     0
2               31          0         0     0
3               24          0         2     0
4               30          0         2     1

In [13]:
y_targets = data_with_targets.iloc[:,-1]
print(y_targets.head())

0    1
1    0
2    0
3    1
4    0
Name: Excessive_absenteeism, dtype: int64

In [14]:
# We need to standardize our y values. 

from sklearn.preprocessing import StandardScaler

absenteeism_scaler = StandardScaler()
absenteeism_scaler.fit(x_features)
StandardScaler(copy=True, with_mean=True, with_std=True)
scaled_inputs = absenteeism_scaler.transform(x_features)

print(scaled_inputs)

[[-0.57735027 -0.09298136 -0.31448545 ... -0.44798003  0.88046927
   0.26848661]
 [-0.57735027 -0.09298136 -0.31448545 ... -0.44798003 -0.01928035
  -0.58968976]
 [-0.57735027 -0.09298136 -0.31448545 ... -0.44798003 -0.91902997
  -0.58968976]
 ...
 [ 1.73205081 -0.09298136 -0.31448545 ...  2.23224237 -0.91902997
  -0.58968976]
 [-0.57735027 -0.09298136 -0.31448545 ...  2.23224237 -0.91902997
  -0.58968976]
 [-0.57735027 -0.09298136 -0.31448545 ... -0.44798003 -0.01928035
   0.26848661]]

In [15]:
scaled_inputs.shape

(700, 14)

In [16]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(scaled_inputs,targets, test_size = .8, shuffle=True)

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [18]:
reg = LogisticRegression(n_jobs=-1, verbose=1,)
reg.fit(x_train,y_train)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 24 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 out of   1 | elapsed:    0.8s finished

LogisticRegression(n_jobs=-1, verbose=1)

In [19]:
reg.score(x_train,y_train)

0.8

In [20]:
# Building it from scratch
model_outputs = reg.predict(x_train)

In [21]:
model_outputs == y_train

array([False,  True,  True,  True, False,  True, False, False, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
        True,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False,  True, False,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True, False, False,  True,  True,  True,
       False,  True, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True, False,  True])

In [22]:
accuracy_array = model_outputs==y_train

In [23]:
print(f"Correct Results: {np.sum((model_outputs==y_train))}")
print(f"Total entries: {model_outputs.shape[0]}")
print(f"Accuracy: {np.sum((model_outputs==y_train))/model_outputs.shape[0]}")

Correct Results: 112
Total entries: 140
Accuracy: 0.8